.app-container{
  display: flex;
}
.header-container{
  width: 100%;
}
.sideBar{
  height: 100%;
}
.card{
  margin: 15px ;
}
.tag{
  margin: 2px;
}
.reactions{
  margin: 10px 5px;

}
.createPost{
  margin:5%;
  width: 80%;
}
.message{
  margin: 10%;
}